<template name="landingPage">

<section class="col-11 mx-auto center">

	<h1 class="mvxxl">A network of support from the heart of your campus</h1>
</section>

<!-- signing up for the beta -->
			<section class="clearfix ptn">
			
				<!-- <div class="clearfix center pvn mvn mb-down ">
					<img class="w-100" src="images/header-purple-box.png">
				</div> -->

				<div class="clearfix bg-welbypurple mtn ptn pbxxl">
					
					<p class="white lato f2 book center mtxxl">Sign up for our iOS Beta</p>
					
					<form class="mhm" action="https://getsimpleform.com/messages?form_api_token=00413ed27108ff39401b59ed84bd0517" method="post">
						
						<input type="email" class="mw6 center plm pvs block col-12 mb1 field" placeholder="Enter your email address">

						 <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
				  		<input type='hidden' name='redirect_to' value='http://welby.io/thank-you.html'>

						<div class="center pvm">
							<button type="submit" class="btn btn-outline br5 phl pvm white center">Count me in!</button>
						</div>

					</form>
					
				</div>
		
			</section>




</template>