<head>
    <title>Welby</title>
    <!-- To support mobile-devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bass css, object oriented grid framework -->
    <!-- tackyons css for sizing/space/typography -->




</head>

<body>

    <header class="header clearfix mx-auto col-11 lg-col-8 mvxl">
        <a href="/"><img class="db center ptm fl-m fl-l mw5  " src="welby.svg" alt="logo"/></a>

        <!-- Evan: using a template to display the logout near the top -->
          {{> signout}} 
            
    </header>

<!-- 
  <header class="header clearfix mx-auto col-10 lg-col-8 mvxl">
 
        <h1 class="center"><a class="lato f1" href="/">Welby</a></h1>
       
 <a class="btn btn-primary pull-right" href="/submit" type="button">Send Yak</a>

  </header> 
 -->

  <section class="clearfix col-11 lg-col-8 mx-auto">

   <!--Josh: inserts the wellness, coursework, and random channels. We need to define templates-->
        <p><a class="brand" href="/wellness"><h6>#wellness</h6></a></p>
        <p><a class="brand" href="/coursework"><h6>#coursework</h6></a></p>
        <p><a class="brand" href="/random"><h6>#random</h6></a></p>

  </section>

</body>