<template name="wellnessList">
{{> loginButtons}}
<br>
		<p><a class="brand" href="/wellness"><h6>#wellness</h6></a></p>
        <p><a class="brand" href="/coursework"><h6>#coursework</h6></a></p>
        <p><a class="brand" href="/random"><h6>#random</h6></a></p>
<!-- Josh: this code displays the "send yak button" -->
<body> <a class="btn btn-primary center-block" href="/wellnessSubmit" type="button">Send Wellness Yak</a> </body>

	<div class="yaks">
		<div class="form-style">
			<div class="container">
				<ul class="list-group">
					<h3>Live feed of what people are saying around you</h3>
					       <!-- <a class="btn btn-primary pull-right" href="/submit" type="button">Send Yak</a> -->
					{{#each yaks}}
						{{> wellnessItem}}
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</template>