<template name="yaksSubmit">
	<div class="yaksSubmit">
		<div class="form-style">
			<div class="container">
					<form class="yaksSubmitForm" >
						
						<h3>Send yak. It's anonymous</h3>

						<input autofocus="autofocus" type="text" id="postTitle" class=" form-control" name="postTitle" placeholder="Post Title"/>

						<input  type="text" id="yak" class=" form-control" name="yak" placeholder="Now for some details"/>

						<input type="submit" value="Submit" class="btn btn-primary">
					</form>
			</div>
		</div>
	</div>
</template>