/* CSS declarations go here */
/* CSS declarations go here */
.navbar { background-color: white; }
.brand { font-size: 2em;}
a:link { text-decoration: none;}
a:hover { text-decoration: none;}
.navbar-inner{ padding: 1em 0em 0.8em;}
body{background-color: #f3f3f3;}
*{
  font-family: 'proxima-nova', 'Proxima Nova', sans-serif;
}
p{margin: 0;}
.yak p{
	font-size: 18px;
	color: #534540;
	font-weight: 50;
}
a.yakPost {
  color: #000;
}

a.yakPost:hover{
  color: #000;
}

.yak{
	margin-bottom: 10px;
}

.yak-form{
	margin-bottom: 10px;
}

#main {
  position: relative;
}

.yak .yak-content {
	padding: 5px;
}

.button-list {
  display: list-item;
}

.together {
  display: inline-block;
}

.break-el{
    -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

.pagination-centered{text-align:center;}

.form-style .comment {
  margin: 30px 0px 0px;
}

.comment-input {
  margin-bottom: 10px;
}

.comment h4 {
  font-weight: bold;
}

.yaks h3 {
  text-align: center;
  margin: 5px 0px 25px;
}

.yaksSubmit h3 {
  text-align: center;
  margin: 5px 0px 25px;
}

@media (min-width: 1300px) { 
  .container{
    width: 55%;
  }
  .form-style .container {
  	width: 45%;
  }
}

@media (min-width: 1100px) and (max-width: 1299px) { 
  .container{
    width: 60%;
  }
  .form-style .container {
  	width: 50%;
  }
}

@media (min-width: 950px) and (max-width: 1099px) { 
  .container{
    width: 70%;
  }
  .form-style .container {
  	width: 55%;
  }
  
}

@media (min-width: 650px) and (max-width: 949px) { 
  .container{
    width: 80%;
  }
  .form-style .container {
  	width: 70%;
  }
}